.search {
    margin-bottom: 80px;
}

.search__button {
    width: 80px;
    height: 34px;
    background-color: #3456F3;
    border-radius: 48px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-right: 7px;
    border: none;
}

.search__button:hover {
    cursor: pointer;
}

.search__container {
    max-width: 1140px;
    margin: 80px 70px;
    display: flex;
    align-items: center;
}

.search__filter {
    display: flex;
    align-items: center;
    align-content: center;
}

.search__filter-caption {
    font-weight: 400;
    font-size: 13px;
    line-height: 138%;
    margin-right: 14px;
}

.search__input {
    border: none;
    width: 100%;
    margin-left: 22px;
    padding: 15px 0 15px;
}

.search__input:active {
    border: none;
}

.search__input-box {
    width: 932px;
    border: 1.5px solid rgba(170, 170, 170, 0.2);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-right: 41px;

}
.search__lenth {
    width: 22px;
    height: 22px;
}

@media all and (max-width: 767px) {
    .search__input-box {
        margin-right: 0;
        width: 100%;
        margin-bottom: 38px;
    }

    .search__container {
        flex-direction: column;
        margin: 60px 30px;
    }
}

@media all and (max-width: 500px) {
    .search__input-box {
        margin-bottom: 45px;
    }

    .search__container {
        margin: 60px 10px 44px;
    }

    .search__input {
        font-size: 11px;
    }

    .search {
        margin-bottom: 50px;
    }
}
