.page {
    max-width: 1280px;
    margin: 0 auto;
    font-family: Inter, Arial, sans-serif;;
    position: relative;

}

@media all and (max-width: 767px) {
    .page {
        max-width: 768px;
    }
}

@media all and (max-width: 500px) {
    .page {
        max-width: 320px;
    }
}
