.profile__container {
    max-width: 1140px;
    margin: 110px 70px 125px;
}

.profile__img {
    border-radius: 10px;
    width: 270px;
}

.profile__img-order {
    order: 0;
}

.profile__info {
    justify-content: space-between;
    display: flex;
    margin-bottom: 100px;
}

.profile__link {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 14px;
}

.profile__paragraph {
    font-size: 14px;
    font-weight: 400;
    line-height: 157%;
    margin-bottom: 100px;
}

.profile__title {
    font-size: 50px;
    font-weight: 400;
    line-height: 116%;
    letter-spacing: -0.04em;
    margin-bottom: 18px;
}

.profile__subtitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 111%;
    margin-bottom: 26px;
}

.profile__text-block {
    margin-right: 15px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media all and (max-width: 767px) {
    .profile__container {
        margin: 110px 30px 125px;

    }
    .profile__img {
        width: 225px;
    }
}

@media all and (max-width: 500px) {
    .profile__container {

        margin: 70px 14px;
    }
    .profile__title {
        font-size: 30px;
        margin-bottom: 20px;
    }
    .profile__subtitle {
        font-size: 11px;
        margin-bottom: 20px;
    }
    .profile__text-block {
        margin-right: 0;
        order: 1;
    }
    .profile__paragraph {
        font-size: 11px;
        margin-bottom: 40px;
    }
    .profile__info {
        flex-flow: wrap;
        justify-content: center;
        margin-bottom: 70px;
    }
    .profile__img {
        width: 292px;
        order: -1;
        margin-bottom: 40px;
    }
}
