.main-navbar__container {
    padding: 24px 0;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main-navbar__link {
    color: white;
    font-size: 13px;
    font-weight: 500;
    line-height: 123%;
}

.main-navbar__list-item {
    margin-right: 40px;
    list-style-type: none;
}

.main-navbar__list-item:last-of-type {
    margin-right: 0;
}

@media all and (max-width: 320px) {
    .main-navbar__list-item {
        margin-right: 24px;
    }
}
